<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Add Completed Exercise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center">Date of exercise</ion-card-subtitle>
        <ion-item class="ion-text-center">
          <!-- <ion-label position="floating">Select date</ion-label> -->
          <ion-datetime 
            displayFormat="DDDD, DD MMM, YYYY" 
            picker-format="DDD MMM YY"
            placeholder="Select Date"
            [ngModel]="today"
            [max]="today"
            name="date-exercise"
            required
            (dateChange)="trainingService.filterDate($event)"
            ></ion-datetime>
        </ion-item>
        <ion-card-title class="ion-text-center">Completed Exercise</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-segment (ionChange)="segmentChanged($event)" scrollable>
          <ion-segment-button value="timeEx" checked>
            <ion-label>Time-based</ion-label>
            <ion-icon name="time"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="qtyEx">
            <ion-label>Quantity-based</ion-label>
            <ion-icon name="calculator"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="measuredEx">
            <ion-label>Measured-output</ion-label>
            <ion-icon name="speedometer"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="exerciseType === 'timeEx'">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Input exercise and time in minutes</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-select ngModel name="exercisesTime" [required]="exerciseTimeInput.touched" #exerciseTimeInput="ngModel" placeholder="Choose exercise">
                  <ion-select-option *ngFor="let exercise of exercisesTime" 
                    [value]="exercise.id"
                    >{{ exercise.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-row *ngIf="exerciseTimeInput.hasError('required') && exerciseTimeInput.touched">
                <ion-col>
                  <ion-label color="danger"><ion-icon name="information-circle"></ion-icon>&nbsp;Field must not be empty.</ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Time, min</ion-label>
                <ion-input ngModel type="number" name="time" [required]="timeInput.touched" [min]="minValue" #timeInput="ngModel"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="timeInput.hasError('required') && timeInput.touched">
            <ion-col>
              <ion-label color="danger"><ion-icon name="information-circle"></ion-icon>&nbsp;Field must not be empty.</ion-label>
            </ion-col>
          </ion-row>
          <ion-item-divider></ion-item-divider>
          <ion-row>
            <ion-col>
              <ion-button type="Submit" 
                (click)="trainingService.saveExercise(f.value.date, f.value.exerciseTime, f.value.time, userWeight, 'exTime', 0)" 
                [disabled]="exerciseTimeInput.invalid || exerciseTimeInput.untouched || timeInput.untouched || timeInput.invalid">Save!
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    
    <ion-card *ngIf="exerciseType === 'qtyEx'">
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>ion-item in a card, icon left, button right</ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
      </ion-item>
      <ion-card-content>
        This is content, without any paragraph or header tags,
        within an ion-card-content element.
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="exerciseType === 'measuredEx'">
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
    
  </form>
</ion-content>




