<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Add Completed Exercise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loggedUserProfile">
  <form #f="ngForm">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center">Date of exercise</ion-card-subtitle>
        <ion-item class="ion-text-center">
          <ion-datetime 
            displayFormat="DDDD, DD MMM, YYYY" 
            picker-format="DDD MMM YY"
            placeholder="Select Date"
            [ngModel]="today"
            [max]="today"
            name="dateExercise"
            required
            (ionChange)="trainingService.filterDate($event)"
            ></ion-datetime>
        </ion-item>
        <ion-card-title class="ion-text-center">Completed Exercise</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-segment (ionChange)="segmentChanged($event)" scrollable>
          <ion-segment-button value="timeEx" checked>
            <ion-label>Time-based</ion-label>
            <ion-icon name="time"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="qtyEx">
            <ion-label>Quantity-based</ion-label>
            <ion-icon name="calculator"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="measuredEx">
            <ion-label>Measured-output</ion-label>
            <ion-icon name="speedometer"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-card-content>
    </ion-card>

    <!-- 1st card -->
    <ion-card *ngIf="exerciseType === 'timeEx'">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Input exercise and time in minutes</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <ion-grid>

          <ion-row>
            <ion-col size-md="10" offset-md="1" size-xl="6" offset-xl="3">
              <ion-item>
                <ion-select ngModel name="exerciseTime" [required]="exerciseTimeInput.touched" #exerciseTimeInput="ngModel" placeholder="Choose exercise">
                  <ion-select-option *ngFor="let exercise of exercisesTime" [value]="exercise.id"
                    >{{ exercise.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="exerciseTimeInput.hasError('required') && exerciseTimeInput.touched">
            <ion-col offset-md="1" offset-xl="3">
              <ion-label color="danger"><ion-icon name="information-circle"></ion-icon>&nbsp;Field must not be empty.</ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size-xs="6" offset-xs="3" size-md="4" offset-md="4" size-xl="2" offset-xl="5">
              <ion-item>
                <ion-input ngModel 
                  type="number"   
                  name="time" 
                  [required]="timeInput.touched" 
                  [min]="minValue" 
                  #timeInput="ngModel"
                  placeholder="Time, min">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="timeInput.hasError('required') && timeInput.touched">
            <ion-col offset-xs="3" offset-md="4" offset-xl="5">
              <ion-label color="danger"><ion-icon name="information-circle"></ion-icon>&nbsp;Field must not be empty.</ion-label>
            </ion-col>
          </ion-row>
              
          <ion-row>
            <ion-item-divider>
              <ion-col offset-xs="8" offset-md="9" offset-lg="10">
                <ion-button type="Submit" 
                (click)="trainingService.saveExercise(f.value.dateExercise, f.value.exerciseTime, f.value.time, loggedUserProfile, 'exTime', 0)" 
                [disabled]="exerciseTimeInput.invalid || exerciseTimeInput.untouched || timeInput.untouched || timeInput.invalid">Save!
                </ion-button>
              </ion-col>
            </ion-item-divider>
          </ion-row>
              
        </ion-grid>

      </ion-card-content>
    </ion-card>
    
    <!-- 2nd card -->
    <ion-card *ngIf="exerciseType === 'qtyEx'">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Input exercise and quantity</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <ion-grid>

          <ion-row>
            <ion-col size-md="10" offset-md="1" size-xl="6" offset-xl="3">
              <ion-item>
                <ion-select ngModel name="exerciseQty" [required]="exerciseQtyInput.touched" #exerciseQtyInput="ngModel" placeholder="Choose exercise">
                  <ion-select-option *ngFor="let exercise of exercisesQty" [value]="exercise.id"
                    >{{ exercise.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="exerciseQtyInput.hasError('required') && exerciseQtyInput.touched">
            <ion-col offset-md="1" offset-xl="3">
              <ion-label color="danger"><ion-icon name="information-circle"></ion-icon>&nbsp;Field must not be empty.</ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size-xs="6" offset-xs="3" size-md="4" offset-md="4" size-xl="2" offset-xl="5">
              <ion-item>
                <ion-input ngModel 
                  type="number"   
                  name="qty" 
                  [required]="qtyInput.touched" 
                  [min]="minValue" 
                  #qtyInput="ngModel"
                  placeholder="Quantity">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="qtyInput.hasError('required') && qtyInput.touched">
            <ion-col offset-xs="3" offset-md="4" offset-xl="5">
              <ion-label color="danger"><ion-icon name="information-circle"></ion-icon>&nbsp;Field must not be empty.</ion-label>
            </ion-col>
          </ion-row>

          <ion-row style="padding-top: 8px;"> 
            <ion-col style="text-align: center;" size-xs="10" offset-xs="1" size-md="4" offset-md="4">
              <ion-label class="weightedLabel">Weight added:&nbsp;<ion-chip class="weightedChip" outline color="primary">{{ returnWeight }}</ion-chip></ion-label>
              <ion-item>
                <ion-range ngModel 
                  name="slider"
                  #sliderInput 
                  [min]="minSlider"
                  [max]="maxSlider"
                  [step]="stepSlider"
                  (ionChange)="formatLabel(sliderInput.value)"
                  pin 
                  snaps 
                  color="danger">
                  <ion-icon slot="start" size="small" name="battery-dead"></ion-icon>
                  <ion-icon slot="end" name="battery-full"></ion-icon>
                </ion-range>
              </ion-item>
            </ion-col>
          </ion-row>
              
          <ion-row>
            <ion-item-divider>
              <ion-col offset-xs="8" offset-md="9" offset-lg="10">
                <ion-button type="Submit" 
                (click)="trainingService.saveExercise(f.value.dateExercise, f.value.exerciseQty, f.value.qty, loggedUserProfile, 'exQty', f.value.slider)" 
                [disabled]="exerciseQtyInput.invalid || exerciseQtyInput.untouched || qtyInput.untouched || qtyInput.invalid">Save!
                </ion-button>
              </ion-col>
            </ion-item-divider>
          </ion-row>
              
        </ion-grid>

      </ion-card-content>
    
    </ion-card>


    <!-- 3rd card -->
    <ion-card *ngIf="exerciseType === 'measuredEx'">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Input exercise and calories</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>

        <ion-grid>

          <ion-row>
            <ion-col size-md="10" offset-md="1" size-xl="6" offset-xl="3">
              <ion-item>
                <ion-select ngModel name="exerciseCal" [required]="exerciseCalInput.touched" #exerciseCalInput="ngModel" placeholder="Choose exercise">
                  <ion-select-option *ngFor="let exercise of exercisesCal" [value]="exercise.id"
                    >{{ exercise.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="exerciseCalInput.hasError('required') && exerciseCalInput.touched">
            <ion-col offset-md="1" offset-xl="3">
              <ion-label color="danger"><ion-icon name="information-circle"></ion-icon>&nbsp;Field must not be empty.</ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size-xs="6" offset-xs="3" size-md="4" offset-md="4" size-xl="2" offset-xl="5">
              <ion-item>
                <ion-input ngModel 
                  type="number"   
                  name="cal" 
                  [required]="calInput.touched" 
                  [min]="minValue" 
                  #calInput="ngModel"
                  placeholder="Calories">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="calInput.hasError('required') && calInput.touched">
            <ion-col offset-xs="3" offset-md="4" offset-xl="5">
              <ion-label color="danger"><ion-icon name="information-circle"></ion-icon>&nbsp;Field must not be empty.</ion-label>
            </ion-col>
          </ion-row>
              
          <ion-row>
            <ion-item-divider>
              <ion-col offset-xs="8" offset-md="9" offset-lg="10">
                <ion-button type="Submit" 
                (click)="trainingService.saveExercise(f.value.dateExercise, f.value.exerciseCal, f.value.cal, loggedUserProfile, 'exCal', 0)" 
                [disabled]="exerciseCalInput.invalid || exerciseCalInput.untouched || calInput.untouched || calInput.invalid">Save!
                </ion-button>
              </ion-col>
            </ion-item-divider>
          </ion-row>
              
        </ion-grid>  

      </ion-card-content>
    </ion-card>
    
  </form>
  
  <ion-item class="ion-padding">
    <ion-buttons slot="start">
      <ion-button fill="solid" expand="block" (click)="switchStyle()">{{ tableStyle }}</ion-button>
    </ion-buttons>
  </ion-item>
  <ngx-datatable [rows]="tableData" [ngClass]="tableClass" [rowHeight]="'auto'" [headerHeight]="50" [columnMode]="'force'" [footerHeight]="30">
    <ngx-datatable-column name="Date" prop="dateStr"></ngx-datatable-column>
    <ngx-datatable-column name="Name" prop="name"></ngx-datatable-column>
    <ngx-datatable-column name="Calories" prop="caloriesOut"></ngx-datatable-column>
    <ngx-datatable-column name="Duration" prop="duration"></ngx-datatable-column>
    <ngx-datatable-column name="Quantity" prop="quantity"></ngx-datatable-column>
    <ngx-datatable-column name="Actions" prop="actions" sortable="false">
      <ng-template let-row="row" let-value="value" ngx-datatable-row-detail-template>
        <ion-button size="small" fill="outline" (click)="trainingService.deleteDataFromDatabase(row, loggedUserProfile.userId)"><ion-icon name="trash"></ion-icon></ion-button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

</ion-content>



