ion-card {
  width: 80%;
  margin: 0 auto;
}

ion-item {
  width: 30%;
  margin: 0 auto;
}

ion-datetime {
  padding: 10px 0;
  margin: 0 auto;
}

ion-select {
  background: rgba(0,0,0,.04);
}

ion-input, .ion-native {
  background: rgba(0,0,0,.04);
}



@media (max-width: 576px) {
  ion-item {
    width: 80%;
    margin: 0 auto;
  }
}