<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Completed profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" offset-xs="2" offset-lg="3">
        <ion-item lines="none">
          <ion-label>User name</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="3">
          <ion-chip>{{ loggedUserProfile?.name || 'N/A' }}</ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset-xs="2" offset-lg="3">
        <ion-item lines="none">
          <ion-label>Age</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="3">
          <ion-chip>{{loggedUserProfile?.age || 'N/A' }}</ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset-xs="2" offset-lg="3">
        <ion-item lines="none">
          <ion-label>Gender</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="3">
          <ion-chip>{{loggedUserProfile?.gender || 'N/A' }}</ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset-xs="2" offset-lg="3">
        <ion-item lines="none">
          <ion-label>Height</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="3">
          <ion-chip>{{loggedUserProfile?.height || 'N/A' }}</ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset-xs="2" offset-lg="3">
        <ion-item lines="none">
          <ion-label>Weight</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="3">
          <ion-chip>{{loggedUserProfile?.weight || 'N/A' }}</ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset-xs="2" offset-lg="3">
        <ion-item lines="none">
          <ion-label>Body Mass Index (BMI)</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="3">
          <ion-chip>{{loggedUserProfile?.bmi || 'N/A' }}</ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset-xs="2" offset-lg="3">
        <ion-item lines="none">
          <ion-label>Basal Metabolic Rate (BMR)</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="3">
          <ion-chip>{{loggedUserProfile?.bmr || 'N/A' }}</ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset-xs="2" offset-lg="3">
        <ion-item lines="none">
          <ion-label>Activity Level</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="3">
          <ion-chip>{{loggedUserProfile?.activityLevel || 'N/A' }}</ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="buttons">
    <ion-button *ngIf="loggedUserProfile" type="button" color="danger" (click)="deleteUser(loggedUserProfile)">Delete User</ion-button>
    <ion-button type="button" (click)="goBack()"
    ><ion-icon name="arrow-back"></ion-icon>&nbsp;Update User</ion-button>
  </div>
</ion-content>
