ion-input, .ion-native {
  background: rgba(0,0,0,.04);
}

:host ::ng-deep .ngx-datatable.dark .datatable-body-cell-label {
  color: white;
}

@media (max-width: 768px) {
  .filter_row {
    padding: 0px;
    ion-input, ion-button {
      margin: 4px;
    }
  }
}

@media (min-width: 768px) {
  .filter_row {
    padding: 16px;
  }
}
