ion-chip {
  display: block;
  margin: 0 auto;
  width: fit-content;
  background: none;
}

.horiz-menu-buttons {
  ion-button:hover {
    background-color: var(--ion-color-primary-tint);
  }
}

.hamburger_menu {
  display: none;
}

#user_name {
  font-size: 18px;
}


@media (max-width: 640px) {
  .horiz-menu-buttons {
    display: none;
  }

  #user_name {
    font-size: 16px;
  }

  #home_button {
    font-size: 13px;
    padding-bottom: 3px;
  }

  .hamburger_menu {
    display: flex;
  }

}

@media (max-width: 460px) {
  #user_name {
    font-size: 14px;
  }

  #home_button {
    font-size: 12px;
  }
}