ion-chip {
  display: block;
  margin: 0 auto;
  width: fit-content;
  background: none;
}

.horiz-menu-buttons {
  ion-button:hover {
    background-color: var(--ion-color-primary-tint);
  }
}

@media (max-width: 640px) {
  .horiz-menu-buttons {
    display: none;
  }
}