<ion-app>

  <ion-header class="first-header">
    
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button fill="solid" routerLink="/home">My Energy Log</ion-button>        
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button routerLink="/profile">Profile</ion-button>
        <ion-button routerLink="/food">Food</ion-button>
        <ion-button routerLink="/training">Training</ion-button>
        <ion-button routerLink="/log">Stats</ion-button>
        <ion-button fill="outline">Logout</ion-button>
      </ion-buttons>
    </ion-toolbar>
  
  </ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>

</ion-app>
