<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Add Meals</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="loggedUserProfile">
  <form #f="ngForm">
    <ion-card class="main_card">
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center">Date of meal</ion-card-subtitle>
        <ion-item class="ion-text-center">
          <ion-datetime 
            displayFormat="DDDD, DD MMM, YYYY" 
            picker-format="DDD MMM YY"
            placeholder="Select Date"
            [ngModel]="today"
            [max]="today"
            name="dateMeal"
            required
            (ionChange)="foodService.filterDate(f.value.dateMeal)"
            ></ion-datetime>
        </ion-item>
        <ion-card-title class="ion-text-center">Completed Meal</ion-card-title>
        <ion-item>
          <ion-label class="db_label" style="text-align: end;" [ngClass]="{'emphasis' : !db_toggle.checked}">Add from USDA database</ion-label>
          <ion-toggle checked="false" #db_toggle></ion-toggle>
          <ion-label class="db_label" [ngClass]="{'emphasis' : db_toggle.checked}">Add from app database</ion-label>
        </ion-item>
      </ion-card-header>

      <ion-card-content>
        <!-- option pick from personal database -->
        <div *ngIf="db_toggle.checked">
          <ion-slides  pager="true" [options]="slideOpts" #slides (ionSlideWillChange)="checkStartEnd()">
            <ion-slide *ngFor="let category of foodCategories">
              <ion-card class="slide_card">
                <ion-card-header class="food_card_header">
                  <ion-card-title>{{ category.toUpperCase() }}</ion-card-title>
                  <ion-card-subtitle>Input food item and serving size (gr/oz)</ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                  <ion-grid>

                    <ion-row>
                      <ion-col size-md="10" offset-md="1" size-xl="6" offset-xl="3">
                        <ion-item>
                          <ion-select ngModel name="foodName_{{category}}" [required]="foodName.touched" #foodName="ngModel" placeholder="Choose food">
                            <ion-select-option *ngFor="let food_item of foodCategoriesObject[category]" [value]="food_item.name">
                              {{ food_item.name }}
                            </ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-row *ngIf="foodName.hasError('required') && foodName.touched">
                      <ion-col offset-md="1" offset-xl="3" style="text-align: start">
                        <ion-label color="danger"><ion-icon name="information-circle"></ion-icon>&nbsp;Field must not be empty.</ion-label>
                      </ion-col>
                    </ion-row>
          
                    <ion-row>
                      <ion-col size-xs="6" offset-xs="3" size-md="4" offset-md="4" size-xl="2" offset-xl="5">
                        <ion-item>
                          <ion-input ngModel 
                            type="number"   
                            name="serving_{{category}}" 
                            [required]="serving.touched" 
                            [min]="minValue" 
                            #serving="ngModel"
                            placeholder="Serving">
                          </ion-input>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-row *ngIf="serving.hasError('required') && serving.touched">
                      <ion-col offset-xs="3" offset-md="4" offset-xl="5" style="text-align: start">
                        <ion-label color="danger"><ion-icon name="information-circle"></ion-icon>&nbsp;Field must not be empty.</ion-label>
                      </ion-col>
                    </ion-row>
                    
                    <ion-row>
                      <ion-col size="1" offset-xs="2" offset-lg="3" style="align-self: center;">
                        <ion-segment (ionChange)="measureChanged($event)" name="unit" [ngModel]="units" #toggleMtImpGroupDB="ngModel" class="metric_imperial_btn_toggle">
                          <ion-segment-button value="metric">
                            <ion-label>gr</ion-label>
                          </ion-segment-button>
                          <ion-segment-button value="imperial">
                            <ion-label>oz</ion-label>
                          </ion-segment-button>
                        </ion-segment>
                      </ion-col>
                      <ion-col offset-xs="3" offset-md="5">
                        <ion-button type="Submit" 
                          (click)="foodService.saveFoodItem(f.value.dateMeal, foodName.value, toggleMtImpGroupDB.value === 'metric' ? serving.value : serving.value * 28.3495, loggedUserProfile, category)"
                          [disabled]="foodName.invalid || foodName.untouched || serving.untouched || serving.invalid">Save!
                        </ion-button>
                      </ion-col>
                    </ion-row>
                    <!-- Adding space -->
                    <ion-row style="height: 20px;">
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>

            </ion-slide>
          </ion-slides>
          <ion-button size="small" class="ion-float-left" (click)="slides.slidePrev()" [disabled]="disablePrevBtn"><ion-icon name="arrow-back" slot="start"></ion-icon>Prev</ion-button>
          <ion-button size="small" class="ion-float-right" (click)="slides.slideNext()" [disabled]="disableNextBtn"><ion-icon name="arrow-forward" slot="end"></ion-icon>Next</ion-button>
        </div>

        <!-- option usda database -->
        <ion-card *ngIf="!db_toggle.checked" class="usda_card">
          <ion-grid>
            <ion-row>
              <ion-col size-xs="8" size-md="6" offset-sm="1" offset-xl="2">
                <!-- <ion-item> -->
                  <!-- <ion-label position="floating">Search for keywords...</ion-label> -->
                  <ion-searchbar animated showCancelButton="focus" inputmode="text" ngModel class="nameSearch" name="nameSearch" [required]="nameSearch.touched" #nameSearch="ngModel"></ion-searchbar>
                  <!-- <ion-input inputmode="text" ngModel class="nameSearch" name="nameSearch" [required]="nameSearch.touched" #nameSearch="ngModel"></ion-input> -->
                <!-- </ion-item> -->
              </ion-col>
              <ion-col size-xs="3" size-sm="2" offset-sm="1" class="ion-align-self-center">
                <ion-button fill="solid" expand="block" [disabled]="!nameSearch.value" (click)="onSearch(nameSearch.value, branded, requireAllWords)">Go!</ion-button>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="nameSearch.hasError('required') && nameSearch.touched">
              <ion-col offset-sm="1" style="text-align: start">
                <ion-label color="danger"><ion-icon name="information-circle"></ion-icon>&nbsp;Field must not be empty.</ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-around ion-padding">
                <ion-checkbox class="usda_checkbox" name="branded" [(ngModel)]="branded">Include branded items</ion-checkbox>
                <ion-checkbox class="usda_checkbox" name="requireAllWords" [(ngModel)]="requireAllWords">Require all words</ion-checkbox>
            </ion-row>
            <ion-row class="ion-justify-content-around">
              <p class="usda_citation">U.S. Department of Agriculture, Agricultural Research Service. FoodData Central, 2019. fdc.nal.usda.gov.</p>
            </ion-row>
            <div class="usda_search_results" *ngIf="usdaSearchResults">
              <ion-list>
                <ion-radio-group>
                  <ion-list-header>
                    <h3 class="usda_subheader">Search results for:<span>&nbsp;{{ usdaSearch || '.....' }}</span>. Found:<span>&nbsp;{{ totalHits || '.....' }}&nbsp;</span>items</h3>
                    <h3 class="usda_subheader">Showing page &nbsp;
                        <ion-select ngModel (change)="onSearch(nameSearch.value, branded, requireAllWords, $event.target.value)" [(ngModel)]="defaultPage" name="page" #page>
                          <option *ngFor="let page of [].constructor(totalPages); let i = index" [value]="i + 1">
                            {{ i + 1 }}
                          </option>
                        </ion-select>
                      &nbsp; of &nbsp; {{ totalPages}}.</h3>
                  </ion-list-header>

                  <ion-item *ngFor="let foodItem of usdaFoodItems; let i = index" >
                    <ion-label>{{ i + 1 + '. ' + foodItem.description }}</ion-label>
                    <ion-radio slot="start" (click)="onPick(foodItem.fdcId)"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </div>
          </ion-grid>
        </ion-card>
      </ion-card-content>

    </ion-card>
  </form>
</ion-content>
