<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Guide to food section</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="intro_guide">
    <ul class="ion-padding-end">
      <li>
        <h6>Meals can be added through <span>USDA database or app's own database</span>. A new user starts with an empty app database which can be populated by copying USDA items
          or adding new items manually.</h6>
      </li>
      <li>
        <h6><span>Manage food items page</span> allows to add, edit or delete food items from the <span>app's database</span>.</h6>
      </li>
      <li>
        <h6>Food portions can be added in grams or ounces.</h6>
      </li>
      <li>
        <h6>Inserted meals will appear in the <span>table</span> below input section. Changing the <span>date</span> allows to see, add or delete meals in the past.</h6>
      </li>
      <li>
        <h6>The <span>log page</span> displays past meals grouped by date. It's possible to toggle the date detail, filter by name and show/hide columns.</h6>
      </li>
    </ul>
  </section>
</ion-content>
