<ion-header class="second-header">
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="user-settings">
        <ion-icon name="build"></ion-icon>
        <ion-label>User Settings</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="user-data">
        <ion-icon name="body"></ion-icon>
        <ion-label>User Data</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="user-activity-level">
        <ion-icon name="bicycle"></ion-icon>
        <ion-label>Activity Level</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="user-profile">
        <ion-icon name="list-box"></ion-icon>
        <ion-label>User Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-header>
