ion-input, ion-select, .ion-native {
  background: rgba(0,0,0,.04);
}

ion-select {
  width: 20%;
}

.label_subtotals {
  display: flex;
  justify-self: start;
  max-width: fit-content;
  padding-right: 10px;
}

.groupSummaryLabel {
  padding-left: 5px;
  display: flex;
  width: max-content;
}

:host ::ng-deep .ngx-datatable.dark .datatable-body-cell-label {
  color: white;
}

@media (max-width: 768px) {
  .filter_row {
    padding-top: 5px;
    ion-input, ion-button {
      margin: 4px;
    }
  }
  .groupSummaryLabel {
    font-size: 11px;
  }
  :host ::ng-deep .datatable-body-cell-label {
    font-size: 12px;
  }
  ion-select {
    width: 25%;
    padding-left: 5px;
  }
}

@media (min-width: 768px) {
  .filter_row {
    padding: 16px;
  }
}