<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Past Meals Log</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loggedUserProfile">

  <ion-item class="filter_row">
    <ion-select slot="start" (ionChange)="updateTable()" [ngModel]="'date'" name="groupLog" #groupLogPeriod="ngModel" placeholder="Choose group period">
      <ion-select-option *ngFor="let period of logPeriods" [value]="period"
        >{{ period }}
      </ion-select-option>
    </ion-select>
    <ion-item style="margin: 0 auto;">
      <ion-label>Rows collapsed</ion-label>
      <ion-checkbox name="chkBox" color="primary" checked="true" (ionChange)="toggleAllGroups()" slot="end"></ion-checkbox>
    </ion-item>
      <ion-button slot="end" fill="solid" expand="block" (click)="switchStyle()">{{ tableStyle }}</ion-button>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let col of allColumns">
        <ion-item>
          <ion-checkbox (click)="toggle(col)" checked="isChecked(col)" slot="end"></ion-checkbox>
           &nbsp;<ion-label>{{ col.name }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-list>
    </ion-list>
  </ion-item>
  <ngx-datatable
  #myTable
  class="material expandable"
  [rows]="tableData" 
  [groupExpansionDefault]="false"
  [groupRowsBy]="groupLogPeriod.value"
  [ngClass]="tableClass"
  [rowHeight]="'auto'" 
  [headerHeight]="50" 
  [columnMode]="'force'" 
  [summaryRow]="true"
  [summaryPosition]="'bottom'"
  [summaryHeight]='60'>
  
  <!-- Group Header Template -->
  <ngx-datatable-group-header [rowHeight]="50" #myGroupHeader>
    <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
      <div style="padding-left:5px; display:flex; width: 300px;">
        <a #groupSummary
        [class.datatable-icon-right]="!expanded"
        [class.datatable-icon-down]="expanded"
        title="Expand/Collapse Group"
        (click)="toggleExpandGroup(group)">
        <b *ngIf="groupLogPeriod.value === 'date'" style="padding-left: 5px;">Date: &nbsp; {{ group.value[0].date | date: 'EEE, d MMM, y' }}</b>
        <b *ngIf="groupLogPeriod.value === 'week'" style="padding-left: 5px;">Week: &nbsp; {{ group.value[0].week}}</b>
        <b *ngIf="groupLogPeriod.value === 'month'" style="padding-left: 5px;">Month: &nbsp; {{ group.value[0].month}}</b>
        <b *ngIf="groupLogPeriod.value === 'year'" style="padding-left: 5px;">Year: &nbsp; {{ group.value[0].year}}</b>
        <!-- <b style="padding-left: 50px;">Calories: &nbsp; {{ group.value[0].caloriesIn | number }}</b> -->
      </a>
    </div>
  </ng-template>
</ngx-datatable-group-header>

  <ngx-datatable-column *ngFor="let col of columns" [name]="col.name" [prop]="col.prop">
    <ngx-datatable-row-detail></ngx-datatable-row-detail>
  </ngx-datatable-column>
</ngx-datatable>
  
</ion-content>



