<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Energy Balance Log</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loggedUserProfile">

  <ion-item class="filter_row">
    <ion-label class="label_subtotals">Subtotals by </ion-label>
    <ion-select (ionChange)="updateTable()" [ngModel]="'date'" name="groupLog" #groupLogPeriod="ngModel">
      <ion-select-option *ngFor="let period of logPeriods" [value]="period">
        {{ period }}
      </ion-select-option>
    </ion-select>
      <ion-button fill="solid" (click)="toggleAllGroups()" style="margin: 0 auto; z-index: 100;">Rows toggle</ion-button>
      <ion-button slot="end" fill="solid" expand="block" (click)="switchStyle()" style="z-index: 100;">{{ tableStyle }}</ion-button>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let col of allColumns">
        <ion-item>
          <ion-checkbox (click)="toggle(col)" checked="isChecked(col)" slot="end"></ion-checkbox>
           &nbsp;<ion-label>{{ col.name }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-list>
    </ion-list>
  </ion-item>
  <ngx-datatable
    #myTable
    class="material expandable"
    [rows]="tableData" 
    [groupExpansionDefault]="false"
    [groupRowsBy]="groupLogPeriod.value"
    [ngClass]="tableClass"
    [rowHeight]="'auto'" 
    [headerHeight]="50" 
    [columnMode]="'force'" 
    [summaryRow]="true"
    [summaryPosition]="'bottom'"
    [summaryHeight]='60'>  
  
  <!-- Group Header Template -->
  <ngx-datatable-group-header [rowHeight]="50" #myGroupHeader>
    <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
      <div class="groupSummaryLabel">
        <a #groupSummary
        [class.datatable-icon-right]="!expanded"
        [class.datatable-icon-down]="expanded"
        title="Expand/Collapse Group"
        (click)="toggleExpandGroup(group)">
        <b *ngIf="groupLogPeriod.value === 'date'" style="padding-left: 5px;">Date: &nbsp; {{ group.value[0].date | date: 'EEE, d MMM, y' }}</b>
        <b *ngIf="groupLogPeriod.value === 'week'" style="padding-left: 5px;">Week: &nbsp; {{ group.value[0].week}}</b>
        <b *ngIf="groupLogPeriod.value === 'month'" style="padding-left: 5px;">Month: &nbsp; {{ group.value[0].month}}</b>
        <b *ngIf="groupLogPeriod.value === 'year'" style="padding-left: 5px;">Year: &nbsp; {{ group.value[0].year}}</b>

        <b  *ngIf="groupLogPeriod.value === 'date'" style="padding-left: 5px;">En+: &nbsp; {{ group.value[0].caloriesIn | number }}</b>
        <b  *ngIf="groupLogPeriod.value === 'date'" style="padding-left: 5px;">Tot En-: &nbsp; {{ group.value[0].totalEnergy | number }}</b>
        <b  *ngIf="groupLogPeriod.value === 'date'" style="padding-left: 5px;">Ex: &nbsp; {{ group.value[0].caloriesExercise | number }}</b>
        <b  *ngIf="groupLogPeriod.value === 'date'" style="padding-left: 5px;">&#916; &nbsp; {{ group.value[0].balance | number }}</b>

        <b  *ngIf="groupLogPeriod.value === 'week'" style="padding-left: 5px;">En+: &nbsp; {{ group.groupCaloriesIn | number }}</b>
        <b  *ngIf="groupLogPeriod.value === 'week'" style="padding-left: 5px;">Tot En-: &nbsp; {{ group.groupCaloriesOutTotal | number }}</b>
        <b  *ngIf="groupLogPeriod.value === 'week'" style="padding-left: 5px;">Ex: &nbsp; {{ group.groupCaloriesOutExercise | number }}</b>
        <b  *ngIf="groupLogPeriod.value === 'week'" style="padding-left: 5px;">&#916; &nbsp; {{ group.groupCaloriesBalance | number }}</b>

        <b  *ngIf="groupLogPeriod.value === 'month'" style="padding-left: 5px;">En+: &nbsp; {{ group.groupCaloriesIn | number }}</b>
        <b  *ngIf="groupLogPeriod.value === 'month'" style="padding-left: 5px;">Tot En-: &nbsp; {{ group.groupCaloriesOutTotal | number }}</b>
        <b  *ngIf="groupLogPeriod.value === 'month'" style="padding-left: 5px;">Ex: &nbsp; {{ group.groupCaloriesOutExercise | number }}</b>
        <b  *ngIf="groupLogPeriod.value === 'month'" style="padding-left: 5px;">&#916; &nbsp; {{ group.groupCaloriesBalance | number }}</b>

        <b  *ngIf="groupLogPeriod.value === 'year'" style="padding-left: 5px;">En+: &nbsp; {{ group.groupCaloriesIn | number }}</b>
        <b  *ngIf="groupLogPeriod.value === 'year'" style="padding-left: 5px;">Tot En-: &nbsp; {{ group.groupCaloriesOutTotal | number }}</b>
        <b  *ngIf="groupLogPeriod.value === 'year'" style="padding-left: 5px;">Ex: &nbsp; {{ group.groupCaloriesOutExercise | number }}</b>
        <b  *ngIf="groupLogPeriod.value === 'year'" style="padding-left: 5px;">&#916; &nbsp; {{ group.groupCaloriesBalance | number }}</b>
      </a>
    </div>
  </ng-template>
</ngx-datatable-group-header>

  <ngx-datatable-column *ngFor="let col of columns" [name]="col.name" [prop]="col.prop">
    <ngx-datatable-row-detail></ngx-datatable-row-detail>
  </ngx-datatable-column>
</ngx-datatable>
  
</ion-content>



