<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="training-new">
        <ion-icon name="football"></ion-icon>
        <ion-label>New training</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="training-log">
        <ion-icon name="stats"></ion-icon>
        <ion-label>Log</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
