<ion-header class="second-header">
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="training-guide">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Guide</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="training-new">
        <ion-icon name="football"></ion-icon>
        <ion-label>New training</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="training-log">
        <ion-icon name="stats"></ion-icon>
        <ion-label>Log</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-header>
