<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Guide to training section</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="intro_profile">
    <ul class="ion-padding-end">
      <li>
        <h6>The exercises in the app database are divided into <span>Time-based, Quantity-based and Measured-output</span></h6>
      </li>
      <li>
        <h6><span>Time-based exercises'</span> energy spend depends on the duration of the exercise.</h6>
      </li>
      <li>
        <h6><span>Quantity-based exercises'</span> energy spend takes in account repetitions performed. Additional weight can be factored in. </h6>
      </li>
      <li>
        <h6><span>Measured-output exercises'</span> energy spend is supplied directly from the machine or tool used: exercise bike, elliptical, treadmill, pedometer etc.</h6>
      </li>
      <li>
        <h6>Inserted exercises will appear in the <span>table</span> below input section. Changing the <span>date</span> allows to see, add or delete exercises in the past.</h6>
      </li>
      <li>
        <h6>The <span>log page</span> displays past exercises ordered and grouped by date with the possibility to toggle the date detail, filter by name and show/hide columns.</h6>
      </li>
    </ul>
  </section>
</ion-content>
