<ion-content>
  <section class="homepage_text">
    <div>
      <h1>Daily Energy Log</h1>
      <h3>will help you to</h3>
      <p>- Maintain a healthy weight.</p>
      <p>- Manage your food energy intake.</p>
      <p>- Keep track of your exercise routine.</p>
    </div>
    <div class="app_built">
      <h5>This app was built with</h5>
      <p><img src="./assets/angular-logo.svg" alt="Angular icon" class="homepage_icon ic1"><strong>Angular 8</strong> framework</p>
      <p><img src="./assets/ionic-logo.png" alt="Ionic Design icon" class="homepage_icon ic2"><strong>Ionic framework</strong> components</p>
      <p><img src="./assets/firebase-logo.png" alt="Firebase Firestore icon" class="homepage_icon ic3"><strong>Firebase Firestore</strong> storage and</p>
      <p><img src="./assets/usda-logo.svg" alt="USDA icon" class="homepage_icon ic4"><strong>USDA</strong> food database API</p>
    </div>
    <ion-card class="profile-link" *ngIf="!loggedUserProfile?.activityLevel">
      <ion-card-content>
        <ion-card-title class="ion-text-center"><h2>You are logged but your profile needs completing</h2></ion-card-title>
          <ion-button routerLink="/profile/user-settings">
            REVIEW PROFILE &nbsp;<ion-icon name="construct"></ion-icon>
          </ion-button>
          <ion-button class="deleteUserBtn" color="danger" (click)="deleteUserAccount(loggedUser)">
            DELETE ACCOUNT &nbsp;<ion-icon name="trash"></ion-icon>
          </ion-button>
      </ion-card-content>
    </ion-card>
  </section>
    <div class="contact_info">
      <p><ion-icon name="mail"></ion-icon>&nbsp;&nbsp;cgavras@yahoo.ca</p>
      <p><ion-icon name="logo-linkedin"></ion-icon>&nbsp;&nbsp;<a href="https://linkedin.com/in/constantinefleshtor" target="_blank">LinkedIn</a></p>
    </div>
</ion-content>
